
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: #0A0A0A;
}
.header{
    width: 500px;
    height: 100px;
    background-color: aliceblue;
    margin-left: 500px;
    margin-top: 20px;
    padding-top: 15px;
    border-radius: 20px;
    color:#00A8FF ;
    font-size: 2rem;
    font-weight: bolder;
    
}
.header ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}
.header ul :hover{
    color:#A855F7;
    cursor:pointer ;

} 
    
 h1{
    color:#38BDF8;/*#A855F7 ,electric blue#3B82F6,neon blue#00A8FF*/
    text-align: center;
    padding-top: 10px;
}
 h1 span{
    color: #A855F7;

}
 h1:hover{
    color: #A855F7;
    cursor: pointer;
}
 h1 span:hover{
    color: #00A8FF;
    cursor: pointer;
}
h2{
    color: beige;
    font-weight: bolder;
    font-size: 3rem;
    padding: 20px;
    margin-left: 200px;

}
p{
     background: linear-gradient(90deg, #3B82F6, #A855F7); /* gradient colors */
    -webkit-background-clip: text; /* clips background to text */
    -webkit-text-fill-color: transparent; /* makes text show gradient */
    font-weight: bolder;
    font-size: 3rem;
    padding: 20px;
    margin-left: 200px;
}
.images{
    width: auto;
    height: 100%;
    display: flex;
}
.images img{
    margin: 20px;
    margin-left: 30px;
    padding: 20px;
}
.images img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.form{
    width: 500px;
    height: 550px;
    background-color: rgb(4, 123, 228);
    margin-left: 500px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    border-radius: 20px;
}
form input{
    width: 400px;
    height: 40px;
    margin: 20px;
    margin-left: 50px;
    border: 3px solid #6b16cc;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
}
form input:hover{
    border: 2px solid #A855F7;
    transition: all 0.3s ease-in-out;
}
form textarea{
    width: 400px;
    height: 150px;
    margin: 20px;
    border: 3px solid #6b16cc;
    border-radius: 10px;
    margin-left: 50px;
    padding: 10px;
    font-size: 1.2rem;
}
button{
    width: 150px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: #A855F7;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 80px;
}
.content{
  display: flex;
  flex-direction: row;}
.content p{
    
     background: linear-gradient(90deg, #3B82F6, #A855F7); /* gradient colors */
    -webkit-background-clip: text; /* clips background to text */
    -webkit-text-fill-color: transparent; /* makes text show gradient */
    font-weight: bolder;
    font-size: 1rem;
    padding: 20px;
    margin-left: 200px;
}
.skills li{
 background: linear-gradient(90deg, #3B82F6, #A855F7); /* gradient colors */
    -webkit-background-clip: text; /* clips background to text */
    -webkit-text-fill-color: transparent; /* makes text show gradient */
    font-weight: bolder;
    font-size: 1.2rem;
    margin-left: 200px;
}
.skills h2{
color: beige;
    font-weight: bolder;
    font-size: 3rem;
    padding: 20px;
    margin-left: 50px;
}
.myprojects button{
    margin-left: 250px;
}